<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="user-info-box">
        <h1>Welcome to the Forum</h1>
        <form method="post" action="/create-thread" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Thread Title" required>
            <textarea name="content" placeholder="Thread Content" required></textarea>
            <select id="category" name="category" required>
                <option value="" disabled selected>Select a category</option>
                {{range .Categories}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
            <div>
                <label for="picture">Upload Picture:</label>
                <input type="file" id="picture" name="picture"><br><br>
            </div>
            <button type="submit">Create Thread</button>
        </form>
        <a href="/profile">Profile</a> <!-- Profile link -->
        <a href="/logout">Logout</a>
    </section>
    <section class="threads-list-box">
        <h2>Threads</h2>
        <form action="/index" method="get">
            <label for="category">Filter by Category:</label>
            <select name="category" id="category">
                <option value="">All Categories</option>
                {{range .Categories}}
                <option value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select>
            <button type="submit">Apply Filters</button>
        </form>
        <ul>
            {{range .Threads}}
            <li><a href="/thread?id={{.ID}}">{{.Title}}</a> - {{.Content}}</li>
            {{end}}
        </ul>
    </section>
</body>
</html>
